:root {
  /* Text Sizes */
  --text-xl: 8rem;
  --text-xs: 0.75rem;
  /* Margin spaces */
  --common-space-lr: 1.5rem;
  --common-space-lr-large: 3.5rem;
  /* Fontfaces */
  --header-font-one: "Inter";
  --header-font-two: "Do Hyeon";
  --body-font-one: "Do Hyeon";
}
body {
  line-height: 1.5;
  margin:0;
  padding:0;
}
html {
	font-family: "Do Hyeon";
}

h1, h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}

header {
  margin-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}