:root {
	/* Text Sizes */
	--text-xl: 8rem;
	--text-xs: 0.75rem;
	--text-lg:2.5rem;
	/* Margin spaces */
	--common-space-lr: 1.5rem;
	--common-space-lr-large: 3.5rem;
	/* Device spaces */
	--mobile-resolution: 980px;
	/* Fontfaces */
	--header-font-one: "Inter";
	--header-font-two: "Do Hyeon";
	--body-font-one: "Do Hyeon";
	/* Colors */
	
}


body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-image: url('../static/images/background/bg.jpg');
	background-repeat: repeat;
}

html {
	font-family: "Do Hyeon";
}


button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
 } 
 
h1,
h2,
h3,
h4 {
	padding: 0.5rem 0 0.5rem 0;
	margin: 0px;
}

header {
	margin-bottom: 1rem;
}

a {
	color: white;
	text-decoration: none;
}
// fix this class - its a fixed definition
.about{
	margin-top: var(--common-space-lr);

}

main {
	h1,h2,h3,h4 {}
	hr {
		width: 80%;
		border: 1px solid rgb(0, 0, 0);
		margin-top: 10px;
		margin-bottom: 15px;
	}
	padding: 0 var(--common-space-lr) 4rem var(--common-space-lr);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.image-container {

	width: 100%;
	height: 100%;
	img {
		width: 100%;
		margin: 0 auto;
		height: 100%;

	}
}

.primary-header {
	
	padding: 1rem 0 1rem 0;
	font-family: sans-serif;
	font-family: var(--header-font-one);
}

.overlay {
	position: fixed;
	background-image: url('../static/images/background/wipe-vector.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	mix-blend-mode: difference;
	/* The blending isn't correct, it only visually works for now. */
	pointer-events: none;
}

.link-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	a {
		background-color: #E65F61;
		width: 50%;
		color: white;

		margin: 10px;
		padding: 20px;
		border-radius: 5px;
		text-align: center;

		font-size: var(--text-lg);
	}
}

.card-image-container {
	width: 250px;
	img {
		width: 100%;
		margin: 0 auto;
		height: 100%;

	}
}

.flex-container{
	* {
	}
	display: flex;
	flex-direction: column;
}

.releases {
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	overflow-x: scroll;
	button {
		margin: 1rem 2rem 1rem 2rem;
	}
}

.column-container { 
}

@media screen and (min-width: 1577px) {
	main {
		max-width: 1577px;
	}
}

@media screen  and (max-width: 1577px) {
	main {
		max-width: 1577px;
	}
}

@media screen and (max-width: 900px) {
	.link-container {
		.link-button {
			width: 90%;;
		}
		flex-direction: column;
		align-items: center;
	}
	body {
	}
}