---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Card from '../components/Card.astro';
import Modal from '../components/Modal.astro';

let content = {
	title: "title",
	credits: "f",
	description: "f",
	type: "release"
}
---


<Layout title="Welcome to Astro.">
	<div class="overlay"></div>
	<Header></Header>
	<Modal content={content} type={content.type} >
		
	</Modal>
</Layout>
