---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
//import Modal from '../components/Modal.astro';
import Modal from '../components/Modal.jsx'
import Card from '../components/Card.jsx'


import { getCollection } from "astro:content";
const releases = await getCollection('releases')
const latestRelease = releases[0]

---

<Layout title="Voia">
	<Modal content={latestRelease.data} client:load> </Modal>
	<div class="overlay"></div>
	<Header></Header>
	
	<button class="model-item" aria->Test</button>
	<button class="model-item">Test 2</button>
	<Card client:load></Card>
	
	
</Layout>
<script defer="true">
</script>