---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
//import Modal from '../components/Modal.astro';
import Modal from "../components/Modal.jsx";
import Card from "../components/Card.jsx";

import { getCollection } from "astro:content";
const releases = await getCollection("releases");
releases.sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date))
const latestRelease = releases[0].data;

---

<Layout title="Music">
	<Modal client:load />
	<div class="overlay"></div>
	<Header />
	<main class="">
		<div class="home-container">
			<div class="">
				<h1 class="primary-header">Original Music</h1>
				<div class="flex-container releases">
				{releases.filter((release: any) => release.data.subtitle === "Original Music").map((r: any) => {
					return(
					<Card content={r.data} client:load />)
				})}
				</div>
			</div>
			<div class="">
				<h1 class="primary-header">Commissioned Work</h1>
				<div class="flex-container releases">
					{
						releases.filter((release: any) => release.data.subtitle === "Commissioned Work").map((r: any) => {
							return(
								<div>
									<Card content={r.data} client:load />
								</div>
							)
						})
					}
				</div>
			</div>
			<div class="">
				<h1 class="primary-header">Covers and Compilations</h1>
				<div class="flex-container releases">
					{
						releases.filter((release: any) => release.data.subtitle === "Covers and Compilations").map((r: any) => {
							return(
								<div>
									<Card content={r.data} client:load />
								</div>
							)
						})
					}
				</div>
			</div>
			<div class="">
				<h1 class="primary-header">Vocal Features</h1>
				<div class="flex-container releases">
					{
						releases.filter((release: any) => release.data.subtitle === "Vocal Features").map((r: any) => {
							return(
								<div>
									<Card content={r.data} client:load />
								</div>
							)
						})
					}
				</div>
			</div>
			
			
		</div>
	</main>
</Layout>

<script defer="true">
</script>