---
interface Props {
	title: string;
}

import "../styles/global.scss";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- Primary Meta Tags -->
		<title>Voia</title>
		<meta name="title" content="Voia" />
		<meta
			name="description"
			content="Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://voiaisonline.click/" />
		<meta property="og:title" content="Voia" />
		<meta
			property="og:description"
			content="Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human."
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://voiaisonline.click" />
		<meta property="twitter:title" content="Voia" />
		<meta
			property="twitter:description"
			content="Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human."
		/>

		<!-- Meta Tags Generated with https://metatags.io -->
	</head>
	<body>
		<slot />
	</body>
</html>
