---
import '@fontsource/do-hyeon'
import '@fontsource/inter'
interface Props {
	title: string;
}

import "../styles/global.scss";
import { SEO } from "astro-seo";
const { title } = Astro.props;
console.log(title)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<SEO
			title={"Voia - " + title}
			description="Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human."
			openGraph={{
				basic: {
					title: "Voia - " + title,
					type: "website",
					image: '/socialimg.jpg',
					url: 'https://voiaisonline.com'
				},
				optional: {
					description: "Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human.",
					locale: "en_US",
					siteName: "Voia",
				},
				image: {
					alt: "The songwriter, music producer and digital creator Voia's logo and headgear."
				}
			}}
			twitter={{
				creator: "@voia_online",
				card: "summary_large_image",
				image: "https://voiaisonline.com/socialimg.jpg",
				imageAlt: "The songwriter, music producer and digital creator Voia's logo and headgear.",
				description: "Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human.",
			}}
			extend={{
				meta: [
					{
						name: "twitter:image",
						content: "https://voiaisonline.com/socialimg.jpg" // Twitter card images *must* come from an absolute source
					},
					{name: "twitter:title", content: 'Voia - ' + title},
					{name: "twitter:description", content: "Chris Voia is a songwriter, music producer and digital creator since 2012. Voia's music draws heavy influence from science fiction, rhythm games, and dance pop to tell its own broader, interconnected story around a robot who longs to be human."}
				]
			}}></SEO>

		<!-- Primary Meta Tags -->
		
	</head>
	<body>
		<slot />
	</body>
</html>
